/web/ires.txt
/web/recall.json
/web/device-enforcement.json
/web/el/files
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/web/files
/web/fm
*.log
/web/recall.json
/web/*.csv
.idea/*
.initialized
.env
.DS_Store
